*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
    /**********************************

    Estilos del Header
    
    **********************************/

    .header {
        position: sticky;
        top: 0;
        background-color: #002438;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
    }
    .header-options{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: auto;
        gap: 1em;
    }

    .header-option{
        font-size: 1rem;
        background-color: #38A1D9;
        max-width: 100%;
        padding: 0.5em 2em;
        border-radius: 0.5rem;
        margin: 0;
    }

    .user-icon{
        display: inline-block;
        background-color: #38A1D9;
        padding: 0.2em;
        border-radius: 0.5em;
    }

    /**********************************
    
    Estilos del contenido principal

    **********************************/

    main{
        background-image: linear-gradient(124deg,#445259 0%, #4A8BAE 60%, #38A1D9 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-information{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8rem 3.5rem 8rem 3.5rem;
    }

    .information {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 1rem 3rem;
        min-height: 100%;
        max-width: 40%;
        color: white;
    }

    .main-information-img {
        background-image: white;
        min-height: 100%;
    }

    .main-information-img img {
        width: 100%;
        height: 100%;
    }

    .information-title h1{
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .information-body p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .information-button{
        text-align: center;
    }

    .information-button button {
        font-size: 1.25rem;
        background-color: #002438;
        width: 75%;
        padding: 0.5em 2em;
        border-radius: 0.5rem;
        margin: 0;
        color: white;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /**********************************
    
    Estilos de seleccion del cine

    **********************************/

    .cine-selection{
        padding: 1.5rem 0 2rem 0;
        background-color: #002438;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .cine-title{
        font-size: 2.5rem;
        font-weight: bold;
        color: #38A1D9;
    }

    #cine-selector {
        width: 25%;
        font-size: 1.25rem;
        padding: 0.5em;
        border-radius: 0.5rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /**********************************
    
    Estilos de la seccion de comida

    **********************************/
    .food-start{
        padding: 1.5rem 0;
        background-color: #4A8BAE;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: center;
        gap: 10vw;
        
    }

    .food{
        max-width: 60%;
    }

    .food-title{
        font-size: 3rem;
        color: #002438;
        text-align: center;
    }

    .food-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    .food-option{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    
    .combo-btn{
        background-color: #002438;
        font-size: 1rem;
        color:#ffffff;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }


    /**********************************

    Estilo del carrito
    
    **********************************/


    .cart-container {
        position: sticky;
        top: 20vh;
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
      
    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2c5066;
        color: #fff;
        padding: 10px 20px;
        border-radius: 8px 8px 0 0;
    }
        
    .cart-header h1 {
        margin: 0;
        font-size: 1.5rem;
    }
        
    .cart-total {
        font-size: 1.5rem;
        font-weight: bold;
    }
        
    .cart-item {
        display: flex;
        margin-top: 1.25rem;
        padding: 0 0.75rem;
        align-items: center;
    }
        
    .movie-poster {
        width: 80px;
        border-radius: 4px;
        margin-right: 10px;
    }
        
    .movie-info h2 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .movie-info p {
        margin: 5px 0;
        font-size: 14px;
        color: #002438;
    }
        
    .age-appropriate {
        color: #2c5066;
        font-weight: bold;
    }
        
    .cart-details {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .cart-details h3 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .cart-details p {
        font-size: 14px;
        margin: 5px 0;
        color: #002438;
    }
        
    .price {
        text-align: right;
        font-weight: bold;
    }
        
    .food-section {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .food-section h3 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .food-section p {
        font-size: 14px;
        color: #888;
    }
        
    .totals {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .totals p {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        font-size: 14px;
        color: #002438;
    }
        
    .grand-total {
        font-size: 16px;
        font-weight: bold;
        color: #2c5066;
    }
        
    .pay-button {
        display: block;
        width: 100%;
        background-color: #FFA500;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
        
    .pay-button:hover {
        background-color: #ffa500;
    }

        /**********************************

    Estilo del modal
    
    **********************************/

    .modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #111111db;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.6s .7s;
        --transform: translateY(-100vh);
        --transition: transform .8s;
    }

    .modal--show{
        opacity: 1;
        pointer-events: unset;
        transition: opacity 0.6s;
        --transform: translateY(0);
        --transition: transform .8s .5s;
    }

    .modal-container{
        margin: auto;
        width: 90%;
        background-color: white;
        max-width: 500px;
        max-height: 90%;
        border-radius: 6px;
        padding: 3em 2.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        background-color: #002438;
        transform: var(--transform);
        transition: var(--transition)
    }

    .modal-title h1{
        font-size: 2rem;
    }

    .food-details{
        display:flex;
        flex-direction: column;
        gap: 1em;
    }

    .food-details h2 {
        color: white;
    }
    .chexkbox-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;
        font-size: 1rem;
    }
    .chexkbox-container label{
        background-color: #38A1D9;
        border-radius: 5px;
        padding: 0.5em;
        color:#002438;
        font-weight: bold;
    }

    .confirm-button{
        background-color: #FFA500;
        padding: 0.5rem;
        font-weight: bold;
        color: #002438;
        font-size: 1rem;
        border: 1px solid;
        border-color: #FFA500;
        margin: 0.5rem 0;
        width:50%;
        border-radius: 7px;
    }

    .confirm-button:hover{
        background-color: #002438;
        color: #FFA500;
    }
    
    /**********************************

    Estilo del footer
    
    **********************************/

    footer{
        background-color: #002438;
        display: flex;
        justify-content: center;
    }
    
    .footer-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    .social-networks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5.8rem;
    }
    
    footer a {
        text-decoration: none;
        font-size: 1.5rem;
    }

@media (max-width:320px) {

}

@media (max-width:768px) {
    
}
