* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/**********************************
Estilo del footer
**********************************/

footer {
    position: absolute;
    bottom: 0;
    background-color: #002438;
    display: flex;
    justify-content: center;
    width: 100%; 
    padding: 20px 0; 
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
    padding: 0 20px; 
}

.social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-networks a {
    margin: 0 20px; 
    font-size: 50px; 
    color: #ffffff; 
    transition: color 0.3s ease; 
}

.social-networks a:hover {
    color: #cccccc; 
}

.goback, .contact {
    flex-basis: 25%; 
}

.goback a:hover{
    color: #cccccc;
}

.contact {
    text-align: right; 
}

footer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff; 
}

@media (max-width:800px) {
    footer {
        position: fixed; /* Fija el footer a la ventana */
        bottom: 0;
        width: 100%;
        background-color: #002438;
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
  
}

