*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
    /**********************************

    Estilos del Header
    
    **********************************/

    .header {
        position: sticky;
        top: 0;
        background-color: #002438;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
    }
    .header-options{
        display: flex;
        box-sizing: border-box;
        height: auto;
        gap: 3em;
    }

    .header-option{
        text-align: center;
        font-size: 1rem;
        background-color: #38A1D9;
        width: 100%;
        padding: 0.5em 0.75em;
        border-radius: 0.5rem;
        margin: 0;
    }

    .user-icon{
        display: inline-block;
        background-color: #38A1D9;
        padding: 0.2em;
        max-width: 30%;
        border-radius: 0.5em;
    }

@media (max-width:768px){
    .header-option{
        padding: 0.30em 0.5em;
    }    
}