*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}

body{
    background-image: linear-gradient(124deg,#445259 0%, #4A8BAE 60%, #38A1D9 100%);
}

h1 {
    color: white;
}

body {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

p{
    color: white;
}

    .title{
        margin-top: 1.0em;
        font-size: 250%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        margin-left: auto; /* Empuja el contenedor hacia la derecha */
        margin-right: 7.5em;
        width: fit-content; 
    }

      /**********************************

    Estilos del menu  

    **********************************/

    .information{
        margin-top: 5em;
        display: flex;
    }

    .container-menu{
        background-color: #002438;
        margin-left: 6em;
        padding: 0.9rem;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0,0,0,.25);
        width: 20rem;
        height: 17rem;

    }

    .menu-options{
        display: flex;
        flex-direction: column; /* Coloca los elementos en columna */
        gap: 1rem;
        padding: 2rem;
        font-size: 2rem;
    }   

    .menu-options a{
        text-decoration: none;
    }

    .btn-logout {
        background-color: #ff4d4d; /* Rojo */
        color: #ffffff; /* Letras blancas */
        border: none; /* Sin bordes */
        border-radius: 15px; /* Borde curveado */
        padding: 10px 20px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de letra */
        font-weight: bold; /* Letras en negrita */
        cursor: pointer; /* Manita al pasar el mouse */
        transition: background-color 0.3s ease; /* Efecto de transición */
      }
    
      .btn-logout:hover {
        background-color: #e60000; /* Rojo más oscuro al pasar el mouse */
      }
    
      .btn-logout:active {
        background-color: #cc0000; /* Rojo aún más oscuro al hacer clic */
      }


    /**********************************

    Estilos del boton volver

    **********************************/

    .return {
        
        display: flex; 
        justify-content: center; 
        align-items: center; 
        
    }
    
    .return a {
        display: inline-block;
        background-color: #FFA500; 
        color: white; 
        text-decoration: none; 
        font-size: 1.5rem; 
        font-weight: bold; 
        padding: 0.5rem 2rem; 
        border-radius: 10px; 
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
        text-align: center; 
        cursor: pointer; 
        transition: transform 0.2s; 
    }
    
    .return a:hover {
        transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
    }   

    /**********************************

    Estilos de las peliculas  

    **********************************/
    .area{
        display: flex;
        margin-left: 8em;
        
    }

    .movies{
        display: flex;         
    }

    .poster{
        padding-inline: 2rem;
    }
    .poster img {
        box-shadow: 0px 4px 10px rgba(0,0,0,.25);
        width: 10rem;
        height: 15rem;
    }

/**********************************

    Estilos de responsivo   

**********************************/

@media (max-width:800px) {

    
    .title{
        font-size: 3rem;
        margin-left: 5rem;
    }
    
    .information{
        flex-direction: column-reverse;
    }

    .area{
        flex-direction: column;
    }

    .container-menu{
        margin-top: 2rem;
    }
  
}

@media (min-width:1550px) {
    
    .area{
        margin-left: 20rem;
    }
    .poster img {
        box-shadow: 0px 4px 10px rgba(0,0,0,.25);
        width: 13rem;
        height: 20rem;
    }
  

}           

