*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

@media (max-width:1920px) {
    /**********************************

    Estilos del Header
    
    **********************************/

    .header {
        background-color: #002438;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
    }
    .header-options{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: auto;
        gap: 1em;
    }

    .header-option{
        font-size: 1rem;
        background-color: #38A1D9;
        max-width: 100%;
        padding: 0.5em 2em;
        border-radius: 0.5rem;
        margin: 0;
    }

    .user-icon{
        display: inline-block;
        background-color: #38A1D9;
        padding: 0.2em;
        border-radius: 0.5em;
    }

    /**********************************
    
    Estilos del contenido principal

    **********************************/

    main{
        background-image: linear-gradient(124deg,#445259 0%, #4A8BAE 60%, #38A1D9 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-information{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8rem 3.5rem 8rem 3.5rem;
    }

    .information {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 1rem 3rem;
        min-height: 100%;
        max-width: 40%;
        color: white;
    }

    .main-information-img {
        background-image: white;
        min-height: 100%;
    }

    .main-information-img img {
        width: 100%;
        height: 100%;
    }

    .information-title h1{
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .information-body p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .information-button{
        text-align: center;
    }

    .information-button button {
        font-size: 1.25rem;
        background-color: #002438;
        width: 75%;
        padding: 0.5em 2em;
        border-radius: 0.5rem;
        margin: 0;
        color: white;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /**********************************
    
    Estilos de seleccion del cine

    **********************************/

    .cine-selection{
        padding: 1.5rem 0 2rem 0;
        background-color: #002438;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .cine-title{
        font-size: 2.5rem;
        font-weight: bold;
        color: #38A1D9;
    }

    #cine-selector {
        width: 25%;
        font-size: 1.25rem;
        padding: 0.5em;
        border-radius: 0.5rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /**********************************
    
    Cartelera del cine

    **********************************/

    .movie-listings {
        background-color: #4A8BAE;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2.5rem;
        padding: 2rem 2rem 2rem 8%;
    }
    

    .movie-title{
        font-weight: bold;
        text-align: center;
    }

        /**********************************

    Estilo del footer
    
    **********************************/

    footer{
        background-color: #002438;
        display: flex;
        justify-content: center;
    }
    
    .footer-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    .social-networks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5.8rem;
    }
    
    footer a {
        text-decoration: none;
        font-size: 1.5rem;
    }

}   

@media (max-width:320px) {

}

@media (max-width:768px) {
    
}
