*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: white;
}

p{
    color: white;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

    /**********************************

    Estilos del contenido principal
    
    **********************************/

    main{
        background-image: linear-gradient(124deg,#445259 0%, #4A8BAE 60%, #38A1D9 100%);
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: center;
        padding: 1.3vh 0;
        gap: 10vw;
        min-height: calc(100vh - 100px);
    }

    /**********************************

    Estilos del la seleccion de pago
    
    **********************************/

    .pay-section{
        margin-top: 7rem;
        min-width: 45%;
        min-height: 24rem;
        background-color: rgb(198, 194, 194);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 2%;
    }

    .personal-data input[type="text"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        color: #333;
        background-color: #fdfdfd;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }
    
    .personal-data input[type="text"]:hover {
        border-color: #4A90E2;
    }
    
    .personal-data input[type="text"]:focus {
        border-color: #4A90E2;
        box-shadow: 0 0 6px rgba(74, 144, 226, 0.5);
        outline: none;
    }
    
    .personal-data input[type="text"]::placeholder {
        color: #999;
        font-style: italic;
    }

    .do-pay {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
      }
      
      .do-pay button {
        background-color: #FFA500;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .pay-method input[type="button"] {

          border-radius: 25px;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
          background-color: #FF6A13; 
          color: white;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
          margin-bottom: 10px; 
      }
  
      .pay-method input[type="button"]:hover {
          background-color: #FF4500; 
      }
  
      .pay-method input[type="button"]:active {
          background-color: #FF4500; 
      }
  
      .pay-method input[type="button"]:focus {
          outline: none; 
          box-shadow: 0 0 0 3px rgba(255, 106, 19, 0.5); 
      }
      .do-pay button:hover {
        background-color: #e69500; 
      }

    .pay-content h2{
        margin-top: 2rem;
    }

    .pay-title{
        text-align: center;
        font-size: 2rem;
        color: #002438;
    }
    .personal-data{
        display: flex;
        gap: 2rem;
    }

    .pay-content h2{
        text-align: center;
    }

    .personal-data input{
        height: 1.5rem;
        width: 32%;
        font-size: 1.25rem;
    }

    .pay-method{
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .pay-method input {
        width: 200px;
        height: 2rem;
        font-size: 1.25rem;
    }

    /**********************************

    Estilos del  carrito de compras
    
    **********************************/
    .cart-container {
        position: sticky;
        top: 20vh;
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
      
    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2c5066;
        color: #fff;
        padding: 10px 20px;
        border-radius: 8px 8px 0 0;
    }
        
    .cart-header h1 {
        margin: 0;
        font-size: 1.5rem;
    }
        
    .cart-total {
        font-size: 1.5rem;
        font-weight: bold;
    }
        
    .cart-item {
        display: flex;
        margin-top: 1.25rem;
        padding: 0 0.75rem;
        align-items: center;
    }
        
    .movie-poster {
        width: 80px;
        border-radius: 4px;
        margin-right: 10px;
    }
        
    .movie-info h2 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .movie-info p {
        margin: 5px 0;
        font-size: 14px;
        color: #002438;
    }
        
    .age-appropriate {
        color: #2c5066;
        font-weight: bold;
    }
        
    .cart-details {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .cart-details h3 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .cart-details p {
        font-size: 14px;
        margin: 5px 0;
        color: #002438;
    }
        
    .price {
        text-align: right;
        font-weight: bold;
    }
        
    .food-section {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .food-section h3 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .food-section p {
        font-size: 14px;
        color: #888;
    }
        
    .totals {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .totals p {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        font-size: 14px;
        color: #002438;
    }
        
    .grand-total {
        font-size: 16px;
        font-weight: bold;
        color: #2c5066;
    }
        
    .pay-button {
        display: block;
        width: 100%;
        background-color: #FFA500;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
        
    .pay-button:hover {
        background-color: #ffa500;
    }

    /**********************************

    Estilo del modal
    
    **********************************/

    .modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #111111db;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.6s .7s;
        --transform: translateY(-100vh);
        --transition: transform .8s;
    }

    .modal--show{
        opacity: 1;
        pointer-events: unset;
        transition: opacity 0.6s;
        --transform: translateY(0);
        --transition: transform .8s .5s;
    }

    .modal-container{
        margin: auto;
        width: 90%;
        background-color: white;
        max-width: 500px;
        max-height: 90%;
        border-radius: 6px;
        padding: 3em 2.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        background-color: #002438;
        transform: var(--transform);
        transition: var(--transition)
    }

    .modal-title h1{
        font-size: 2rem;
    }

    .food-details{
        display:flex;
        flex-direction: column;
        gap: 1em;
    }

    .food-details h2 {
        color: white;
    }
    .chexkbox-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;
        font-size: 1rem;
    }
    .chexkbox-container label{
        background-color: #38A1D9;
        border-radius: 5px;
        padding: 0.5em;
        color:#002438;
        font-weight: bold;
    }

    .confirm-button{
        background-color: #FFA500;
        padding: 0.5rem;
        font-weight: bold;
        color: #002438;
        font-size: 1rem;
        border: 1px solid;
        border-color: #FFA500;
        margin: 0.5rem 0;
        width:50%;
        border-radius: 7px;
    }

    .confirm-button:hover{
        background-color: #002438;
        color: #FFA500;
    }

        /**********************************

    Estilo del footer
    
    **********************************/
    .show-cart{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #002244;
        color: #fff;
        text-align: center;
        padding: 15px;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        opacity:0;
    }

    .show-cart input{
        width: 100%;
        height: 2rem;
        background-color: #FFA500;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    @media (max-width:768px) {
        .cart-container{
            display: none;
            z-index: 0;
        }
    
        .show-cart{
            position: sticky;
        }
        
    
        .food-menu{
            gap: 0.5rem;
        }
    }
    
    @media (max-width:596px){
    
        .food-menu{
            flex-direction: column;
        }
    
        .food-section h1{
            text-align: center;
        }
    
        .show-cart input{
            width: 30%;
            font-size: 1rem;
        }
    }
