*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}

body{
    background-image: linear-gradient(124deg,#445259 0%, #4A8BAE 60%, #38A1D9 100%);
}

h1 {
    color: white;
}

p{
    color: white;
}

    /**********************************

    Estilos del menu  

    **********************************/

    .information{
        margin-top: 10em;
        display: flex;
    }

    .container-menu{
        background-color: #002438;
        margin-left: 6em;
        padding: 0.9rem;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0,0,0,.25);
        width: 20rem;
        height: auto; 
        height: 15rem;

    }

    .menu-options{
        display: flex;
        flex-direction: column; /* Coloca los elementos en columna */
        gap: 1rem;
        padding: 2rem;
        font-size: 2rem;
    }   

    .menu-options a{
        text-decoration: none;
    }

    
    /**********************************

    Estilos de los puntos

    **********************************/

    .points {
      
        flex-direction: column; /* Asegura que los elementos estén en columna */
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
        text-align: center; /* Centra el texto de los elementos hijos */
        gap: 1.5rem; 

    }
    
    .title p {
        margin-right: 10em;
        text-align: right; 
        font-size: 2.5rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);    
    }

    .total-points p{
        margin-top: 1.5em;
        display: inline-block; 
        background-color: #002438; 
        color: white; 
        padding: 0.5rem 1rem; 
        border-radius: 10px; 
        font-size: 1.5rem; 
        font-weight: bold; 
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .description{
        margin-left: 6em;
        margin-top: 1.5em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        width: 75%;
    }
    .return {
        margin-top: 3%;
        display: flex; /* Activa Flexbox */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        
    }
    
    .return a {
        display: inline-block;
        background-color: #FFA500; 
        color: white; 
        text-decoration: none; 
        font-size: 1.5rem; 
        font-weight: bold; 
        padding: 0.5rem 2rem; 
        border-radius: 10px; 
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
        text-align: center; 
        cursor: pointer; 
        transition: transform 0.2s; 
    }
    
    .return a:hover {
        transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
    }