*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: white;
}

p{
    color: white;
}
    /**********************************

    Estilos del contenido principal
    
    **********************************/

    main{
        background-color: #4A8BAE;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5rem 5rem;
        gap: 0rem;
    }

    .main-sinopsis {
        color: white;
    }

    .main-sinopsis h2{
        padding: 1rem 0;
        font-size: 1.5rem;
    }

    .movie-poster-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie-poster{
        text-align: center;
        max-width: 70%;
        max-height: 60%;
    }
    .movie-poster img {
        width: 40rem;
        max-width: 100%;

    }

    .movie-name{
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }

    #comboBox{
        width: 15rem;
    }

    .main-content{
        max-width: 50%;
    }

    .main-function{
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    #interface{
        display: flex;
        flex-direction: column;
    }

    .day {
        background-color: #002438;
        text-align: center;
        margin-bottom: 1.5rem;
        padding: 0.75rem;
        border-radius: 0.5em;
    }

    .day_select{
        background-color: #FFA500;
    }

    .first-combobox{
        margin-bottom: 1.5rem;
        padding: 0.75rem;
    }

    label{
        background-color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5em;
    }

    .ticket{
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .confirm-button{
        font-size: 1.25rem;
        background-color: #FFA500;
        border-color: #FFA500;
        width: 30%;
        padding: 0.5em 2em;
        border-radius: 0.5rem;
        margin: 0 0 0 35%;
        color: white;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

@media (max-width:1070px) {
    .main-function{
        justify-content: start;
        gap: 5px;
    }
}

@media (max-width:768px) {
    .movie-poster img{
        max-width: 100%;
    }

    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:480px) {
}
