*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(124deg,#445259 0%, #4A8BAE 60%, #38A1D9 100%);
}

h1 {
    color: white;
}

p{
    color: white;
}

    /**********************************

    Estilos del contenido principal
    
    **********************************/

    main{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 1.3vh 0;
        gap: 10vw;
    }

    /**********************************

    Estilos del main-panel 
    
    **********************************/

    .main-panel{
        margin-top: 100px; 
        text-align: center; 
        position: relative;
    }

    .main-panel h1 {
        margin-left: -5px; 
        margin-bottom: 20px;
        text-align: left; 
    }

    .main-panel p { 
        margin-top: 20px;
    }


    /**********************************

    Estilos del  carrito de compras
    
    **********************************/
    .cart-container {
        position: sticky;
        top: 20vh;
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
      
    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2c5066;
        color: #fff;
        padding: 10px 20px;
        border-radius: 8px 8px 0 0;
    }
        
    .cart-header h1 {
        margin: 0;
        font-size: 1.5rem;
    }
        
    .cart-total {
        font-size: 1.5rem;
        font-weight: bold;
    }
        
    .cart-item {
        display: flex;
        margin-top: 1.25rem;
        padding: 0 0.75rem;
        align-items: center;
    }
        
    .movie-poster {
        width: 80px;
        border-radius: 4px;
        margin-right: 10px;
    }
        
    .movie-info h2 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .movie-info p {
        margin: 5px 0;
        font-size: 14px;
        color: #002438;
    }
        
    .age-appropriate {
        color: #2c5066;
        font-weight: bold;
    }
        
    .cart-details {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .cart-details h3 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .cart-details p {
        font-size: 14px;
        margin: 5px 0;
        color: #002438;
    }
        
    .price {
        text-align: right;
        font-weight: bold;
    }
        
    .food-section {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .food-section h3 {
        margin: 0;
        font-size: 16px;
        color: #002438;
    }
        
    .food-section p {
        font-size: 14px;
        color: #888;
    }
        
    .totals {
        margin-top: 20px;
        padding: 0 0.75rem;
    }
        
    .totals p {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        font-size: 14px;
        color: #002438;
    }
        
    .grand-total {
        font-size: 16px;
        font-weight: bold;
        color: #2c5066;
    }
        
    .pay-button {
        display: block;
        width: 100%;
        background-color: #FFA500;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
        
    .pay-button:hover {
        background-color: #ffa500;
    }

    


@media (max-width:768px) {
    .cart-container{
        display: none;
        z-index: 0;
    }

    .show-cart{
        position: sticky;
    }
    

    .food-menu{
        gap: 0.5rem;
    }
}

@media (max-width:596px){

    .food-menu{
        flex-direction: column;
    }

    .food-section h1{
        text-align: center;
    }

    .show-cart input{
        width: 30%;
        font-size: 1rem;
    }
}
